fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9

sentence-transformers==3.1.1
transformers==4.44.2
torch==2.4.1

chromadb==0.5.11

scikit-learn==1.5.2
numpy==1.26.4

ollama==0.3.3

pydantic==2.9.2
